@media screen and (min-width: 1024px){
    .sobre__nosotros{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .form__column{
        display: flex;
        justify-content: space-between;
    }
    .sobre__nosotros div{
        margin-right: 4rem;
    }
}
@media screen and (max-width: 1024px){
    .principal{
        max-width: 80%;
    }
    .banner{
        width: 100%;
    }

    .titulo__producto{
        max-width:85% ;
        margin: 0 auto;
    }
    .producto{
        max-width: 95%;
        margin: 0 auto;
        
    }
    .all__producto{
        margin: 0 auto;
        max-width: 90%;
    }
    .info__producto{
        margin-right: 2%;
    }
        
    .hidden{
        display: none;
        justify-content: space-between;
        max-width: 80%;
    }
    .end{
        margin-bottom: 2rem;
    }
    .form__column{
        margin-right: 5rem;
    }

    .search{
        width: 20rem;
    }

}

@media screen and (max-width: 850px){
    .principal{
        display: flex;
        justify-content: space-between;
    }
    .search__hidden{
        display: flex;
        margin-right: -10%;
    }
    .search__button{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
    .search{
        display: none
    }
    .producto__hidden{
        display: flex;
        flex-direction: column;

    }
    .titulo__producto{
        max-width: 90%;
        justify-content: space-between;
    }
    .producto{
        margin: 0 auto;
        max-width: 95%;
      
    }
   
    .all__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-bottom: 2rem;
    }
    .end{
        padding-bottom: 2rem;
    }
    .info__producto{
        margin: 0 auto;
    }
    .info__producto img{
        width: 150px;
    }
    .text__none{
        text-align: center;
    }

    .form__column{
        margin-right: -1rem;
    }


}

@media screen and (max-width: 500px){
    body{
        font-size: 90%;
    }

    .logo__resposive{
        display: flex;
    }
    
    .search__hidden{
        display: flex;
    }

    .logo{
        display: none;
    }
    .principal{
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: auto;
    }
    .search__button{
        flex-direction: row-reverse;
    }
    .login{
        padding: 5px;
        width: 7rem;
        margin-left: 15px;
    }

    .search__hidden{
        margin-left: 10px;
        align-items: center;
    }
    
    .search__responsive{
        width: 10px;
    }

    .titulo__banner{
        font-size: 1.5rem;
    }
    .parrafo__banner{
        font-size: 1rem;
    }
    .titulo__producto{
        max-width: 100%;
    }
    .producto{
        max-width: 90%;
    }

    .all__producto{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .info__producto{
        width: 50px;
        margin-bottom: 50px;
        margin-right: 100px;
    
    }
    .info__producto img{
        width: 140px;
        display: flex;
        justify-content: center;
    }
    
    .hidden{
        display: flex;
        flex-direction: column;
    }
    .text__only{
        width: 140px;
    }
    .all__container{
        max-width: 90%;
        display: flex;
        justify-content: center;
    }
    .nosotros__formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



}

@media screen and (max-width:300px){
    .login{
        padding: 3px;
        width: 4rem
    }
    ;
    .info__producto{
        width: 100px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin: auto;
        
    }
    .info__producto img{
        width: 100px;
    }
    
}