
.sobre__nosotros{
    padding: 1rem ;
    background-color: #EAF2FD;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.all__container{
    display: flex;
    max-width: 85%;
    margin: 5rem ;
}

.nosotros__formulario{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros__formulario input{
    padding: 10px;
    margin-bottom: 10px;
}


.text__none{
    list-style: none;
    margin: 1.3rem 0;
}

.mensajeria__links{
    color:#464646;
    font-weight: bold;
}

.label__text{
    font-weight: bold;
    margin-bottom: 1rem;
}


.mensajeria__formulario{
    margin-bottom: 1rem;
    resize: none;
}

.boton__formulario{
    padding: 1rem;
    width: 9rem;
    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
}