@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.precio{
    font-weight: bold;
}

main{
    background: #f7f5f5;
}

.search__display{
    display: none;
}