.add__producto{
    padding: 1rem;
    border: none;
    background: #2A7AE4;
    color: #fff;
    cursor: pointer;
}

.titulo__texto{
    font-size: 25px;
    padding-top: 20px;
}

@media screen and (max-width:500px){
    .titulo__producto{
        display: flex;
        flex-direction: column;
        padding-bottom:20px;
    }
    
    .titulo__producto h1{
       font-size: 25px;
    }
}